<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbMustang.dbMapper.mapper2.Db2Mapper">
    <select id="getUserById" resultType="java.lang.String" parameterType="java.lang.Integer">
    select name from db2_user where id=#{id,jdbcType=INTEGER}
</select>
</mapper>